<div class="l-content">
  <div class="clearfix">
    <app-search placeholder="Search users" (update)='updateFilter($event)'></app-search>
    <app-button basic="'true'" table="'true'" text="Refresh result" (click)="refresh($event)"></app-button>
  </div>
  <swui-datatable class='material scroll-vertical' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
    [detailRowHeight]="100" [scrollbarV]="50" [rows]='usersFilter'>
    <swui-datatable-column name="Id" width="200">
      <template let-row="row" let-value="value" swui-datatable-cell-template>
        {{row._id}}
      </template>
    </swui-datatable-column>
    <swui-datatable-column name="Email" width="80">
      <template let-row="row" let-value="value" swui-datatable-cell-template>
        {{value}}
      </template>
    </swui-datatable-column>
    <swui-datatable-column name="Provider" width="200">
      <template let-value="value" swui-datatable-cell-template>
        <strong>{{value}}</strong>
      </template>
    </swui-datatable-column>
    <swui-datatable-column name="Role" width="300">
      <template let-row="row" let-value="value" swui-datatable-cell-template>
        <app-select [value]="row.role" (update)="updateRole(row, $event)">
          <option [value]="'ADMIN'">ADMIN</option>
          <option [value]="'MANAGER'">MANAGER</option>
          <option [value]="'USER'">USER</option>
        </app-select>
        
      </template>
    </swui-datatable-column>
    
  </swui-datatable>
</div>
