@import '../../../assets/styles/base.scss';

.c-sidebar {
  background-color: $color-1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow-y: auto;
  padding: 40px 0 20px;
  position: fixed;
  width: 100px;

  .sidebar-top {

    h1 {
      color: $color-3;
      font-family: $font-family-3;
      font-size: $font-size-xnormal;
      padding: 0 10px 20px;
      position: relative;

      @media #{$mq-tablet} {
        font-size: $font-size-big;
        padding: 0 30px 25px;
      }
    }

    .sidebar-option {
      color: $color-3;
      display: block;
      font-family: $font-family-1;
      font-size: $font-size-small;
      padding: 20px 10px;
      transition: background-color .2s ease-in-out;

      @media #{$mq-tablet} {
        font-size: $font-size-xnormal;
        padding: 20px 30px;
      }

      &:hover {
        background-color: $color-8;
      }

      &.sidebar-option-selected {
        background-color: $color-8;
      }
    }
  }

  .sidebar-bottom {

    app-button {
      display: block;
      margin: 20px auto 0;
      width: calc(100% - 50px);
    }
  }

  @media #{$mq-tablet} {
    padding: 40px 0 45px;
    width: 250px;
  }
}
