.datatable{
  margin-top: 10px;
  &.scroll-vertical {
    height: 75vh;
  }
  .datatable-row-detail{
    height: 300px;
    overflow-y: scroll;
  }
}
app-button {
  margin-right: 10px;
  float: right;
  &:first-of-type {
    margin-right: 0;
  }
}
