.datatable{
  &.scroll-vertical {
    height: 65vh;
  }
}

app-button {
  margin-right: 10px;
  float: right;
  &:first-of-type {
    margin-right: 0;
  }
}

.form-group{
  .input-dialog {
    display: block;
    height: 50px;
    margin: 25px auto 0;
    padding: 10px;
    width: 80%;
  }
  .form-control-feedback{
    width: 80%;
    margin: 5px auto 0;
  }
}
