@import '../../../assets/styles/base.scss';
.content-select {
  position: relative;
  &::after {
    background: transparent;
    border-bottom: 2px solid $color-2;
    border-left: 2px solid $color-2;
    content: '';
    height: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
    transform: rotate(-45deg);
    width: 10px;
  }
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: $color-3;
    border: 0;
    border-bottom: 2px solid $color-2;
    border-radius: 0;
    cursor: pointer;
    font-family: $font-family-2;
    max-width: 200px;
    min-width: 100px;
    outline: 0;
    padding-bottom: 5px;
    width: 100%;
  }
}
