@import '../../assets/styles/base.scss';

.c-dashboard {

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contain-options {
    background-color: $color-3;
    margin-bottom: 20px;
    padding: 10px;

    a {
      background-color: $color-3;
      cursor: pointer;
      font-family: $font-family-2;
      outline: 0;
      padding: 20px;
      display: inline-block;

      &:first-of-type {
        border: 2px solid $color-2;
        border-right: 1px;
        position: relative;
        margin-right: -4px;
    }

      &:last-of-type {
        border: 2px solid $color-2;
        border-left: 1px;
      }

      &.-select {
        background-color: rgba($color-1, .5);
        color: $color-3;
      }
    }
  }
}
