@import '~bootstrap/scss/bootstrap';
@import '~angular2-data-table/src/components/datatable';
@import '~angular2-data-table/src/themes/material';
@import '~angular2-data-table/assets/icons.css';


@import 'assets/styles/mapglyphs';
@import 'assets/styles/base';

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


/* dialog modal */
.dialog {
  background-color: rgba($color-2, .95);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}