@import '../../../assets/styles/base.scss';
.three-numbers {
    display: flex;
    justify-content: space-between;
    div {
        background-color: $color-3;
        flex-basis: 30%;
        padding: 20px;
    }
    h2 {
        color: $color-2;
        font-family: $font-family-1;
        font-size: $font-size-huge;
        &::after {
            background-color: $color-1;
            content: '';
            display: block;
            height: 4px;
            width: 100px;
        }
    }
    p {
        color: $color-2;
        font-family: $font-family-2;
    }
}

.two-numbers {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    div {
        background-color: $color-3;
        flex-basis: 45%;
        padding: 20px;
    }
    h2 {
        color: $color-2;
        font-family: $font-family-1;
        font-size: $font-size-xhuge;
        &::after {
            background-color: $color-1;
            content: '';
            display: block;
            height: 4px;
            width: 100px;
        }
    }
    p {
        color: $color-2;
        font-family: $font-family-2;
    }
}

.countries-list {
    .contain-map {
        padding: 20px;
        float: left;
        width: 50%;
        &:nth-child(2n+1) {
            padding-left: 0;
        }
        &:nth-child(2n) {
            padding-right: 0;
        }
        div {
            background-color: $color-3;
            padding: 20px;
            position: relative;
        }
        .text-country {
            bottom: 22px;
            font-family: $font-family-2;
            font-size: $font-size-big;
            position: absolute;
            b {
                font-size: $font-size-xxnormal;
            }
        }
    }
}