<div class="three-numbers">
	<div>
		<h2>25</h2>
		<p>Users</p>
	</div>
	<div>
		<h2>22</h2>
		<p>Microservices</p>
	</div>
	<div>
		<h2>22</h2>
		<p>Endpoints</p>
	</div>
</div>
<div class="two-numbers">
	<div>
		<h2>222</h2>
		<p>Requests today</p>
	</div>
	<div>
		<h2>1000</h2>
		<p>Requests last week</p>
	</div>
</div>
<hr>
<div class="countries-list">
	<div class="contain-map">
		<div>
			<span class="mg huge map-es"></span>
			<span class="text-country"><b>ES</b><br>200</span>
    </div>
	</div>
</div>